<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
		<!-- Instructions to the Spring Container -->
		<bean id="foodSuggestion" class="com.cg.fitnesstracker.app.service.implementation.DietServiceImpl">
		<!--property is used to call setMsg()-->
		<property name="foodDietEndo" value="Meat and Fish
Chicken
Turkey
Salmon
Cod
Dairy
Yogurt
Milk
Fruit and vegetables
Berries
Apples
Pears
Asparagus
Zucchini
Tomatoes
Onions
Greens (spinach, kale, romaine)
Nuts and seeds
Nut and seed butter
Almonds
Pistachios
Sunflower seeds
Pumpkin seeds
Grains and starchy vegetables
Sweet potatoes
Squash
Quinoa
Brown rice
Beans
Oats 

DAY 1
Breakfast 2 scrambled eggs plus 1 egg white and spinach
Snack Sunflower seeds and a piece of fruit
Lunch Olive oil–massaged kale salad topped with cucumbers, bell peppers, and salmon
Snack Deli meat wrapped around asparagus spears
Dinner Grilled chicken breast over zucchini noodles and tomato sauce

DAY 2
Breakfast Cottage cheese with slivered almonds and cinnamon
Snack Sliced veggies and hummus
Lunch Stir-fry made with chicken and peppers over brown rice
Snack Sliced apple with peanut butter
Dinner Turkey tacos wrapped in lettuce and topped with a slice of avocado

DAY 3
Breakfast Egg frittata made with tomatoes, onions, and spinach
Snack Protein shake
Lunch Grilled chicken salad with garbanzo beans, tomatoes, and tzatziki sauce
Snack Hummus and sliced veggies (bell pepper, celery)
Dinner White fish drizzled in olive oil, roasted broccoli and cauliflower

DAY 4
Breakfast Smoothie made with Greek yogurt, berries, and almond milk
Snack Sliced veggies and hummus
Lunch Open-faced turkey, veggie, and avocado sandwich on whole-wheat toast
Snack Pistachios and cubed cantaloupe
Dinner Sliced steak stir-fry over cauliflower rice

DAY 5
Breakfast Omelet made with peppers and spinach, topped with avocado slices
Snack Protein bar
Lunch Quinoa mixed with chopped veggies and cubed chicken breast, tossed with vinaigrette
Snack Carrots dipped in peanut butter
Dinner Salmon, steamed broccoli, sautéed mushrooms

DAY 6
Breakfast 2 hard-boiled eggs with blueberries
Snack Greek yogurt with sliced almonds
Lunch Mediterranean lentil salad with sun-dried tomatoes, kalamata olives, and chopped raw veggies
Snack Protein shake
Dinner Veggie and bean soup with a grilled chicken breast

DAY 7
Breakfast Greek yogurt layered with apples, cinnamon, and walnuts
Snack Hard-boiled egg and sliced avocado
Lunch Sweet potato stuffed with shredded chicken, drizzled with low-sugar barbecue sauce
Snack Hummus and veggies
Dinner Shrimp and veggie kabobs with cauliflower rice">
		</property>
		<property name ="foodDietEcto" value="Meat and Fish
Chicken
Turkey
White fish (cod, mah-mahi)
Seafood (shrimp, scallops)
Eggs
Lean steak or beef
Dairy
Fat-free or low-fat yogurt or milk (keep to 1 serving a day)
Fruits and Vegetables
Berries
Mango
Oranges
Apples
Pears
Banana
Cauliflower
Green beans
Broccoli
Asparagus
Brussels sprouts
Squash
Nuts and Seeds
Almonds
Pistachios
Peanuts
Sunflower seeds
Pumpkin seeds
Grains and Starchy Vegetables
Whole-wheat bread
Old-fashioned or steel-cut oats
Brown rice
Quinoa
Farro
Sweet potato

A 7-Day Sample Menu for the Ectomorph Body Type
Day 1
Breakfast Old-fashioned or steel-cut oatmeal topped with strawberries and walnuts
Snack Hard-boiled egg and soy milk latte
Lunch Mediterranean quinoa salad with chopped veggies and olive oil
Snack Apple and almonds
Dinner Turkey and mango tacos wrapped in lettuce leaves served with a side of black beans

Day 2
Breakfast Smoothie made with fruit, almond milk, and protein powder
Snack Trail mix made with nuts and dried fruit
Lunch Avocado toast topped with a fried egg, side salad
Snack Carrots and black bean dip
Dinner Sliced flank steak fajitas with onions and peppers wrapped in sprouted whole-grain tortillas

Day 3
Breakfast Sweet potato toast topped with a thin smear of nut butter and turkey bacon
Snack Pear with mixed nuts
Lunch Bean and veggie burger served on a whole-grain bun, side of steamed broccoli
Snack Protein bar
Dinner Grilled chicken, sautéed kale, tomato and cucumber salad, side of farro
Strawberries A to Z: Nutrition Facts, Health Benefits, Recipes, and More
With vitamin C, fiber, and magnesium, strawberries are definitely good for you — and with about 13 grams of carbs per cup, they are a good weight loss food, too, especially whole berries for desser...

Day 4
Breakfast Whole-grain toast with fat-free or low-fat Greek yogurt and a sliced pear
Snack Protein bar
Lunch Mixed greens salad with chopped vegetables, roasted turkey, and vinaigrette
Snack Apple and a slice of cheese
Dinner Chicken and mushroom stir-fry over brown rice

Day 5
Breakfast Slice of veggie frittata with roasted sweet potatoes
Snack Banana with almond butter
Lunch Tuna mashed with avocado on whole grain crackers, side salad
Snack Protein bar
Dinner Quinoa bake made with tomato sauce, mixed vegetables, and chicken

Day 6
Breakfast Fat-free or low-free Greek yogurt parfait with chopped apples, walnuts, whole-grain cereal, and cinnamon
Snack Small smoothie with protein powder
Lunch Turkey chili and a side salad with vinaigrette
Snack Sliced veggies dipped in homemade guacamole
Dinner Grilled shrimp and vegetables kabobs on a bed of quinoa

Day 7
Breakfast Overnight oats made with fat-free or low-fat yogurt, almond milk, and topped with raspberries
Snack Hard-boiled egg, piece of fruit
Lunch Turkey sandwich on whole-grain bread, mashed avocado, lettuce, tomato, onion, baby carrots on the side
Snack Broccoli dipped in hummus
Dinner Roasted cod, Brussels sprouts, baked sweet potato">
		</property>
		<property name="foodDietMeso" value="Meat and Fish
Fish (salmon, tuna)
Chicken
Lean steak
Turkey
Eggs
Protein shake
Dairy
Yogurt
Cottage cheese
Fruits and Vegetables
Berries
Apples
Pears
Oranges
Avocado
Cauliflower
Green beans
Broccoli
Asparagus
Brussels sprouts
Nuts and Seeds
Nut or seed butter
Almonds
Cashews
Pistachios
Pumpkin seeds
Sunflower seeds
Grains and Starchy Vegetables
Sweet potato
Lentils
Beans
Quinoa
Brown rice


Day 1
Breakfast Greek yogurt parfait made with pumpkin, cinnamon, pecans, and raisins

Snack Two hard-boiled eggs and strawberries

Lunch Large salad with chopped veggies, sweet potato chunks, avocado, and vinaigrette.

Snack Hummus and bell pepper sticks

Dinner Chicken and vegetable stir-fry over brown rice with crushed peanuts

Day 2
Breakfast Smoothie made with soy milk, peanut butter, banana, and spinach

Snack Cheese stick with an orange

Lunch Three-bean chili, side salad drizzled with vinaigrette, and a small whole-grain roll

Snack Veggies with a yogurt-based dip

Dinner Spaghetti squash noodles with tomato and ground turkey sauce

Day 3
Breakfast Whole-grain toast with almond butter, hard-boiled egg

Snack Trail mix

Lunch Pizza made on a whole-grain tortilla, topped with veggies and chicken sausage

Snack Protein bar

Dinner Baked salmon, roasted broccoli, sweet potato with a tab of butter

Day 4
Breakfast Cottage cheese with pineapple and crushed macadamia nuts

Snack Roasted chickpeas and an orange

Lunch Turkey chili spooned into a sweet potato

Snack Packet of flavored tuna and celery sticks

Dinner Fajita lettuce wraps made with sliced steak, bell peppers, and onions, topped with avocado slices

Day 5
Breakfast Greek yogurt with blueberries, toasted quinoa, and sunflower seeds

Snack Veggies and hummus

Lunch Whole grain wrap with chicken, sliced veggies (bell peppers, carrots) on the side

Snack Turkey rolled around sliced bell peppers and mustard

Dinner Tuna niçoise salad

Day 6
Breakfast Avocado toast with peaches and a hard-boiled egg

Snack Chocolate protein shake

Lunch Chicken salad (made with a base of Greek yogurt) over greens

Snack Roasted lentils and an orange

Dinner Roasted chicken, sweet potatoes, and sautéed kale 

Day 7
Breakfast Slice of veggie frittata and a banana

Snack Celery with peanut butter

Lunch Grilled salmon salad

Snack Protein bar

Dinner Quinoa bowl with chopped chicken, veggies, and a dollop of guacamole">
		</property>
		</bean>
</beans>